.community_profile {
  margin-top: 80px;
}

.pic-container {
  position:relative;
  width:100%;
  background:white;
}

.borough {
  width:100%
}

.collection-item {
  padding:0px;
  margin: 0px;
}
.try {
  padding:0px;
}
.row .col.l4 {
  padding-left: 0px;
  padding-right:0px;
}
.row .col.community-activity {
  padding:0px
}
.pic-container h4{
  margin-bottom:0px;
}
.pic-container h5 {
  margin-bottom:0px;
  padding-bottom:3%
}
ul.collection.avatar {
  margin-top:0px;
  margin-bottom:0px;
}
.community-activity ul.collection {
  margin:0px;
  padding:0px
}

/* .row .col.l5 {
  width: 46%;
} */

.row .col.l5.community-activity {
  height: 74.5vh;
  overflow: scroll;
}

.row .col.l5::-webkit-scrollbar {
  width: 10px;
}

.row .col.l5::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: black;
}


.row .col.l5::-webkit-scrollbar-thumb {
background:#07356b ;
border-radius: 5px;
/* visibility: hidden; */

transition:all 1s ease-in-out
}
.row .col.l5::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background:#8ee4af
}

/* .communityActivity_username {
  color: #01356B;
}

.communityActivity_username:hover {
  color: #8EE4AF
} */

.communityActivity_link {
  color: #8EE4AF;
  font-weight: bold;
}

.communityActivity_link:hover {
  color: #01356B;
}
