.community_profile {
  margin-top: 80px;
}

.pic-container {
  position:relative;
  width:100%;
}

.borough {
  width:100%
}

.row .col.try {
  padding:0px;
  margin: 0px;
}
.try {
  padding:0px;
}

.row .col.l5 {
  height: 75vh;
  overflow: scroll;
}

.row .col.l5::-webkit-scrollbar {
  width: 10px;
}

.row .col.l5::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: black;
}


.row .col.l5::-webkit-scrollbar-thumb {
background-image: linear-gradient(to bottom right,#00f281, #621389);
border-radius: 15px;
}
.row .col.l5::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom right, #621389, #00f281);
}
