/* .collapsible-body {
  padding-bottom: 15px
} */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
}

.subscribe {
  margin: 0 10px;
}
.leButtons {
  display:flex;

}
.leButtons span {
  margin:auto;
}

/* .row {
  margin-top: 80px;
} */
