/* .collapsible-body {
  padding-bottom: 15px
} */

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 30px;
}

.subscribe {
  margin: 0 10px;
}
.leButtons {
  display:flex;
  justify-content: space-around;
}
.leButtons span {
  margin:auto;
}

.sub-count {
  color: #05386b;
  font-weight: 400;
  border-left: 2px solid white;
  padding-left: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-left: 20vw; */
  /* color: #5cdb95; */
}

.sub-count span.text-count {
  color:#05386b8c;
  font-weight: 300;
}
input.select-dropdown.dropdown-trigger {
  margin-bottom:40px;
}
h5.collapsible-header{
  margin:0px
}
ul.container.collap.collapsible {
  margin:auto
}
.collap {
  width:90%
}
/* .row {
  margin-top: 80px;
} */
