nav .brand-logo {
  height: 55px;
  background-color: transparent;
}

.nav-wrapper {
  background: #8EE4AF
}

.navbar_registration {
  padding-right: 40px;
  font-weight: bold;
}

.signup, .login, .aboutus {
  font-size: 32px;
}

.btn-small {
  background-color: #8EE4AF;
}

a.active {
 background: lightgreen;
 border-bottom: 0px;
 font-size: 32px;
}

.chip {
  font-size: 15px;
  height: 41px;
  line-height: 37px;
  background-color: #8EE4AF;
  color: white;
}

.chip>img {
  width: 40px;
  height: 40px;
}
