nav .brand-logo {
  height: 60px;
  background-color: transparent;
}

.nav-wrapper {
  background: #8EE4AF
}

.navbar_registration {
  padding-right: 40px;
  font-weight: bold;
}

.signup, .login, .aboutus {
  font-size: 32px;
}
