nav .brand-logo {
  height: 55px;
  background-color: transparent;
}

.nav-wrapper {
  background: #8EE4AF
}

.navbar_registration {
  padding-right: 40px;
  font-weight: bold;
}

h5#beige {
  /* color: white; */
  font-weight: 400;
  font-size: 20px;
}
h5#beige:hover {
  color: #EDF5E1;
  font-weight: 400;

}
.btn-small {
  background-color: #8EE4AF;
}

a.active:hover {
 background: #8EE4AF;
 border-bottom: 0px;
 color:white;
}
a.active {
  border-bottom: 0px
}
a.signup.active h5, a.login.active h5, a.aboutus.active h5 {
  color: #edf5e1;
  border-bottom: 0px;

}
.navbar_registration li a:hover {
  background: #8EE4AF;
}

.usernav-img-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usernav-img-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 5px;
  border: 1px solid #EDF5E1;
}
