.container-puzzle {
  display: grid;
  width: 750px;
  height: 600px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(25, 30px);
  grid-template-rows: repeat(20, 30px);
  background-color: #e6e5e5;
  transform: rotateY(180deg);
}

.container-puzzle .user-sub-img {
  width: 29px;
  height: 29px;
}
.container-puzzle .user-sub-img:hover {
  width: 59px;
  height: 59px;
  z-index: 200;
}

div .sub-img-wrapper {
  width: 30px;
  height: 30px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .wrapper-grats img {
  height: 400px;
  width: 512px;
}
@media only screen and (max-width: 750px){
  .container-puzzle {
    display: grid;
    width: 500px;
    height: 400px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(20, 20px);
    background-color: #e6e5e5;
    transform: rotateY(180deg);
  }
  .container-puzzle .user-sub-img {
    width: 19px;
    height: 19px;
  }
  div .sub-img-wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
@media only screen and (max-width: 500px){
  .container-puzzle {
    display: grid;
    width: 375px;
    height: 300px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(25, 15px);
    grid-template-rows: repeat(20, 15px);
    background-color: #e6e5e5;
    transform: rotateY(180deg);
  }
  .container-puzzle .user-sub-img {
    width: 14px;
    height: 14px;
  }
  div .sub-img-wrapper {
    width: 15px;
    height: 15px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
