.puzzle-area {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puzzle-area button {
  margin-bottom: 10px;
}
.subs {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.goal-header {
  display: flex;
  justify-content: space-between;
}

.progress {
  height: 14px;
}

.goal-display-container ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.goal-display-container ul a li {
  font-size: 13px;
  margin-left: 6px;
  color: #07356B;
}
.goal-display-container ul a:hover {
  background: #d1e6d9;
}
