.circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/* .l2 {
  border: solid 1px black;
  background-color: white;
} */

.joined {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.share_buttons {
  display: flex;
  flex-direction: row;

}
.user-profile li{
  list-style: none;
  padding:3%
}

.user_profile {
  margin-top: 80px;
}
.user-profile .row .center{
  /* margin:auto; */
}

.share_buttons:hover {
  cursor:pointer;
}

p {
  margin: 0 0;
}
.pic-container {
  position:relative;
  width:100%;
}
.borough {
  width:100%
}
/* .profile-pic {
  position:absolute;
  left:35%;
  top:75%;
  border: 2px solid white;
} */
.profile-pic {
  z-index: 5;
  margin-top: -70px;
  border: 2px solid white;
}

.borough-title {
  position: absolute;
  left: 5%;
  top: 0%;
}


.borough-title h4 {
  color: white;
}

h4.username {
  margin-top: 10px;
}

h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .col .row {
  float:left;
} */
.row .col.no-pad  {
  padding:0px;
}

.boroughName {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  transition: all .5s ease-in-out
}
.boroughName:hover {
  color:#8ee4af;
}

.no-pad {
  margin:0px;
  padding:0px;
}

@media only screen and (max-width: 992px){
    .row.center {
      margin-left: 25%;
    }

}
@media only screen and (max-width: 600px){
    .row.center {
      margin-left: 0%;
    }

}
