.iframe-visual {
  cursor: url('https://www.iconfinder.com/icons/2261319/download/png/64'), auto;
}

h1 {
  color: #969b01;
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
